<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.thekstudio.autokakaotalk.mybatis.mappers.KakaoMapper">
	<!-- test -->
	<select id="getMainButtons" parameterType="hashmap" resultType="hashmap">
		select
			CONTENT
		from KAKAO_KEYBOARD
		where GUBUN = 'MAIN'
	</select>

	<!-- test -->
	<select id="getMessage" parameterType="hashmap" resultType="hashmap">
		select
			TEXT
			,PHOTO
		from KAKAO_MESSAGE
		where CONTENT like #{content}
	</select>
</mapper>